<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Leave Application app for employees"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    
    {% if custom_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + custom_css + '.css') }}" />
    {% endif %}
</head>

<body>

    <header class="main-header">
        {% block logo_title %}{% endblock %}
        <div class="logout">
            <a href="{{ url_for('index') }}" class="main-header" style="color: #fff; padding: 10px 22px;">Log Out</a>
        </div>
    </header>

    <main class="center-container">
        {% block body %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% if custom_js %}
        <script src="{{ url_for('static', filename='js/' + custom_js + '.js') }}"></script>
    {% endif %}
</body>
</html>
