{% extends 'html/base.html' %}

{%block logo_title %}<div class="app-title" id="titles"><a href="{{ url_for('hr_fun') }}" class="home">Leave <br> Application</a></div>{% endblock %}

{% block body %}
<h1 class="page-title" id="titles">View History</h1>

{% if history %}
<table>
    {% for app, user in history %}
        <tr>
            <td>
                <img src="/static/img/{% if app.status == 'approved' %}approved.png{% elif app.status == 'rejected' %}rejected.png{% endif %}" alt="Icon"> 
            </td>
            <td>
                <h2 class="intractive-message" id="captions" style="margin-bottom: 6px;">{{ user.name }}: {{ app.status }} [{{ app.reason }}]</h2>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <p class="intractive-message" style="font-size: 30px; margin: 70px 0;">No history available.</p>
{% endif %}

<div class="choices">
    <a href="{{ url_for('hr_fun') }}" style="text-decoration: none;" class="submit">Done</a>
</div>

<style>
    .page-title {
        margin-bottom: 50px;
    }
    table {
        width: 100%;
    }
    img {
        width: 30px;
        vertical-align: middle; /* Aligns the image vertically */
        margin-right: 10px; /* Adjust margin as needed */
    }
    .intractive-message {
        display: inline-block; /* Ensures elements are inline */
        vertical-align: middle; /* Aligns the text vertically */
        margin-bottom: 0; /* Removes extra bottom margin */
    }
    .choices {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .submit {
        width: 100%;
        padding: 8px 110px;
        margin-left: 7px;
    }
</style>
{% endblock %}
